@import "union-ui/lib";

body {
  overflow-x: hidden;
}

.greyCard {
  background-color: #fafaf9;
}

.unionSymbol {
  position: relative;
  top: -4px;
}

.claimedText {
  background: #f0fdf4;
  padding: 12px;
  border-radius: 8px;
}

.claimedText svg path {
  fill: #22c55e;
}

.governanceLink svg path {
  fill: #3b82f6;
}

a {
  text-decoration: none;
}
